<div id="page">
  <div id="top">
    <div id="logo">
      <a href="main"><img src="img/logo.png" alt="logo" /></a>
    </div>
    <div id="contact">
       39-300 Mielec, ul. Żeromskiego 28<br />
       tel./fax 17 788 51 68, 17 788 51 69<br />
       e-mail: <a href="mailto:kopernik@powiat.mielec.pl">kopernik@powiat.mielec.pl</a>
    </div>    
  </div>
  <div id="topmenu">
    <div id="left"></div>
    <div id="main"></div>
    <div id="right"></div>        
  </div>
  
  <div id="leftside"></div>
  
  <div id="content"></div>
  
  <div class="clear"></div>

  <div id="footer">
    <div id="footerl1">
      <a href="http://kopernik.mielec.pl" target="_blank">kopernik.mielec.pl</a>
    </div>
    <div id="footerl2">&copy; 2000-2013</div>
    <div id="footerl3"><a onclick="window.scrollTo(0, 0);" class="top">do góry ^</a></div>
  </div>
</div>
