<div id="vital">
  <div id="up"></div>
  <div id="mid">
    <div id="vitalnews">
      <img src="obrazki/page.png" align="left" alt="page" />
      <h1>Informator dla kandydatów</h1>
      <h2>na rok szkolny 2012/2013</h2>
    </div>
    <span class="readmore">Pobierz &raquo;</span>
  </div>
  <div id="bot"></div>
</div>
<div id="day">
  <div id="date">czwartek, 2 luty 2012r.</div>
  <div id="names"><font>imieniny obchodzą m.in.:</font> Michał i Marek</div>
</div>
<div id="newstop"></div>
<div id="newsbox">
    
</div>    
<div id="archive"><img src="img/strz.png" /><a href="main/view">archiwum wiadomości</a></div>
