<div id="vital">
  <div id="up"></div>
  <div id="mid">
    <div id="vitalnews">
      <h1>Zobacz</h1>
      <ul>
        <li><a href="#">Enter Your Future - kolejna edycja projektu edukacyjnego [PDF]</a></li>
        <li><a href="#">Zderzenie Muzyczne - fragmenty</a></li>
        <li><a href="#">Zdjęcia i filmy z roku szkolnego 2011/2012</a></li>
        <li><a href="#">Odyseja umysłu</a></li>
      </ul>
      </div>
    <div class="clear"></div>
  </div>
  <div id="bot"></div>
</div>
<div id="day">
  <div id="date">czwartek, 2 luty 2012r.</div>
  <div id="names"><font>imieniny obchodzą m.in.:</font> Michał i Marek</div>
</div>
<div id="newstop"></div>
<div id="newsbox">
    
</div>    
<div id="archive"><img src="img/strz.png" /><a href="main/view">archiwum wiadomości</a></div>
